In [1]:
# Required libraries:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import matplotlib.patches as mpatches
import re
import sklearn
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the cleaned_dataset:
df = pd.read_csv(r'C:\Users\HP\Desktop\Digi-crome\Project-7_NLP\Data\cleaned_twitter_disaster.csv')

In [4]:
df.head(5)

,id,keyword,location,text,target,text_length,cleaned_text,word_length,mention_count,hashtag_count,question_count,exclamation_count,tokens
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,69,Our Deeds are the Reason of this earthquake Ma...,13,0,1,70,0,"['Our', 'Deeds', 'are', 'the', 'Reason', 'of',..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,38,Forest fire near La Ronge Sask Canada,7,0,0,39,0,"['Forest', 'fire', 'near', 'La', 'Ronge', 'Sas..."
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,133,All residents asked to shelter in place are be...,22,0,0,134,0,"['All', 'residents', 'asked', 'to', 'shelter',..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,65,13000 people receive wildfires evacuation orde...,8,0,1,66,0,"['13000', 'people', 'receive', 'wildfires', 'e..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,88,Just got sent this photo from Ruby Alaska as s...,16,0,2,89,0,"['Just', 'got', 'sent', 'this', 'photo', 'from..."

# Task: Feature Engineering